[submodule "xonotic-web-port/source/darkplaces"]
	path = xonotic-web-port/source/darkplaces
	url = https://github.com/xonotic/darkplaces.git
[submodule "xonotic-web-port/source/d0_blind_id"]
	path = xonotic-web-port/source/d0_blind_id
	url = https://github.com/xonotic/d0_blind_id.git
